:root {
    --blue-color: rgb(0, 81, 255);
    --black-color: rgb(31, 30, 30);
    --gray-color: rgb(243, 243, 243);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    font-family: 'Roboto', sans-serif;
}

/* COMMONS */
.menu-inline {
    list-style: none;
}
.menu-inline li {
    display: inline-block;
}
.menu-inline li a {
    text-decoration: none;
    color: gray;
}

/* HEADER */
header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    background-color: white;
}

/* header user */

.user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}
.user .logo-section,
.user .user-section {
    width: 20%;
    display: flex;
}

.user .logo-section {
    justify-content: flex-start;
    align-items: center;
}
.user .logo-section img {
    display: inline-block;
    width: 30%;
}
.user .logo-section span {
    display: inline-block;
    font-size: 1.5em;
    font-weight: 300;
    color: gray;
    margin-left: .2em;
}

.user .user-section {
    justify-content: flex-end;
    align-items: center;
}
.user .user-section i {
    display: inline-block;
    font-size: 1.5em;
    color: gray;
    margin-right: 1em;
}
.user .user-section span {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    background-color: blue;
    color: white;
    font-size: 1em;
    font-weight: 300;
}

/* header navbar */
.nav-menu {
    padding: 0 1em;
    border-bottom: 1px solid gray;
}

.nav-menu .menu-inline li {
    margin-right: 4em;
    height: 30px;
}
.nav-menu .menu-inline li a {
    font-size: 1em;
    font-weight: 400;
}
.nav-menu .menu-inline li:hover a {
    color: var(--blue-color);
}
.nav-menu .menu-inline li.active {
    border-bottom: 2px solid var(--blue-color);
}
.nav-menu .menu-inline li.active a {
    color: var(--blue-color);
}

/* MAIN */
ol li {
    font-size: .9rem;
    font-weight: 400;
    color: var(--black-color);
    margin: 1rem 0;
    padding-left: 1rem;
}

.faqs {
    padding: 10em 10em 0;
}

.faq {
    margin-bottom: 4em;
}

.faq .question {
    font-size: 2em;
    font-weight: 400;
    color: var(--black-color);
    margin-bottom: 1em;
}
.faq .answer,
.faq .sec-description {
    font-size: .9em;
    font-weight: 400;
    color: var(--black-color);
    margin-bottom: 1em;
}
.faq .sec-title {
    font-size: 1.5em;
    font-weight: 400;
    color: var(--black-color);
    margin-bottom: 1em;
}

/* FOOTER */
.footer-menu {
    background-color: var(--gray-color);
    border-top: 1px solid gray;
    display: flex;
    justify-content: space-between;
    padding: 1em 10em;
}
.footer-menu .nav-foot {
    width: 20%;
}
.footer-menu .nav-foot .menu-inline li {
    margin-right: .4em;
}
.footer-menu .nav-foot .menu-inline li a {
    font-size: .8em;
    font-weight: 300;
    margin-right: .5em;
}
.footer-menu .nav-foot .menu-inline li span {
    color: gray;
}

.footer-menu .language {
    width: 20%;
    text-align: right;
}
.footer-menu .language i {
    color: var(--blue-color);
    margin-right: .5em;
}
.footer-menu .language select {
    width: 70%;
}
