* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    font-family: 'Roboto', sans-serif;
}

/* HEADER */
.user {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.user .logo-section,
.user .user-section {
    width: 20%;
    display: flex;
    padding: 1em;
}

.user .logo-section {
    justify-content: flex-start;
    align-items: center;
}
.user .logo-section img {
    display: inline-block;
    width: 30%;
}
.user .logo-section span {
    display: inline-block;
    font-size: 2em;
    font-weight: 300;
    color: gray;
    margin-left: .2em;
}

.user .user-section {
    justify-content: flex-end;
    align-items: center;
}
.user .user-section i {
    display: inline-block;
    font-size: 1.5em;
    color: gray;
    margin-right: 1em;
}
.user .user-section span {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    background-color: blue;
    color: white;
    font-size: 1em;
    font-weight: 300;
}




/* MAIN */
.faqs {
    padding: 10em;
}

